extends layout 

block content 
    h1.title= title 
    
    div.product-list-container
        div.row
            each product in product_list
                div.card(style='width: 18rem;')  
                    img.card-img-top(src=product.image_url alt="product-img")
                    div.card-body
                        h5.card-title #{product.model}
                    ul.list-group.list-group-flush 
                        li.list-group-item Brand: #{product.brand.name}
                        li.list-group-item Price: Rs.#{product.price}
                    div.card-body
                        a.card-link(href=product.url) View Details 
        div.row.mt-5
            a.float(href='/product/create') 
                i.fas.fa-edit.my-float
    