extends layout 
block content 

    h1.m-3=title 

    div.container
        div.row
            div.col
                image(src=product.image_url style='width:450px;height:450px;')
            div.col
                h4 #{product.title}
                hr.card-divider
                h5 Rs. #{product.price}
                h6 #{product.model}
                h6 Item Shape: #{product.item_shap}
                h6 Display Type: #{product.display_type}
                h6 Band Color: #{product.band_color}
                h6 Dial Color: #{product.dial_color}
                if product.stock > 0
                    p (Availability) In stock: #{product.stock}
                else
                    p Availability: Out of stock
                div(style="display:flex;flex-direction:row;")
                    p(style='font-size:15px;font-weight:bold;') Categories:
                    each cat, index in product.category
                        p(style='font-size:15px') #{cat.name}
                        if index < product.category.length - 1
                            |,
        div.row.mt-5
        h5 Product Description 
        p.p-2 #{product.summary}
        div.row.justify-content-end
            a.float(href=product.edit_url+'/update') 
                i.fas.fa-edit.my-float
            a.float(href=product.edit_url+'/delete') 
                i.fas.fa-trash-alt.my-float 